/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Fondamento&display=swap');

/* Global style */

*, *::before, *::after {
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    background-color: #222222;
    color: #d0d0d0;
    text-align: justify;
}

p, span, div {
    font-family: 'Dosis', sans-serif;
}

/* Pop-out menu */

li {
    list-style: none;
}

#logo-bar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

#logo-head {
    font-size: 2rem;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    left: 0;
    top: 70px;
    gap: 0;
    flex-direction: column;
    opacity: 0;
    background-color: #222222;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.menu-list.active {
    opacity: 100%;
}

.menu-item {
    margin: 16px 24px;
}

.menu-1:hover, .menu-2:hover {
    font-weight: bold;
}

.menu-1.active, .menu-2.active {
    font-weight: bold;
}

.expl-1, .expl-2 {
    opacity: 0;
}

.expl-1.active, .expl-2.active {
    opacity: 100%;
}

/* Hamburger graphic and transition animation */

.hamburger {
    display: block;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #d0d0d0;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}

.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

/* Background image */

#background {
    background: url('../images/bk01-grassland-city.webp') no-repeat center center;
    background-size: cover;
    height: 100vh;
  }

/* Central interactive area  */

h1, h2, h3 {
    font-family: 'Fondamento', 'Goudy Old Style', serif;
    text-align: left;
}

#game-box {
    height: 90vh;
    width: 800px;
    max-width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#story, .choice {
    padding: 20px 24px;
}

/* Highlight story choice on hover  */

.choice:hover {
    background-color: #3d3d3d;
}

/* Grid display for portraits  */

#portrait-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3% 3%;
    grid-auto-flow: row;
    grid-template-areas:
        "f-01 f-02 m-05 m-06"
        "f-05 f-06 m-01 m-02"
        "m-03 m-04 f-03 f-04";
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
  }

/* Responsive styling for portraits  */

@media screen and (max-width: 768px) {
    #portrait-box {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "f-01 f-02 m-05"
        "m-06 f-05 f-06" 
        "m-01 m-02 m-03"
        "m-04 f-03 f-04";
    }

}