/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Fondamento&display=swap');

/* Global style */

*, *::before, *::after {
    font-family: 'Dosis', sans-serif;
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    background-color: #222222;
    color: #d0d0d0;
    text-align: justify;
}

/* Background image */

#background {
    background: url('../images/bk01-grassland-city.webp') no-repeat center center;
    background-size: cover;
    height: 100vh;
  }

/* Central interactive area  */

h1 {
    font-family: 'Fondamento', 'Goudy Old Style', serif;
}

#game-box {
    height: 90vh;
    width: 800px;
    max-width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#story, .choice {
    padding: 20px;
}

#navbar {
    padding: 20px 20px 0;    
}
  
.choice:hover {
    background-color: #3d3d3d;
}

