/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Fondamento&display=swap');

/* Global style */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-align: justify;
}

p,
span,
div,
#restart-btn {
    font-family: 'Dosis', sans-serif;
    background-color: #222222;
    color: #d0d0d0;
}

#story,
.choice,
.menu-item,
.menu-list,
#logo-bar {
    font-size: 22px;
}

/* Pop-out menu, adapted from a tutorial by YouTube user codefoxx, link in readme */

li {
    list-style: none;
    background-color: #3d3d3d;
}

#logo-bar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

#logo-head {
    font-size: 2rem;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    left: 200%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    opacity: 0;
    width: 100%;
    text-align: center;
}

.menu-list.active {
    left: 0;
    opacity: 100%;
}

.menu-item {
    margin: 16px 24px;
}

.fas,
.menu-list,
.menu-list * {
    background-color: #3d3d3d;
}

.menu-item * {
    text-align: right;
}

.menu-1,
.menu-2 {
    cursor: pointer;
}

.menu-1:hover,
.menu-2:hover {
    font-weight: bold;
}

.menu-1.active,
.menu-2.active {
    font-weight: bold;
}

.expl-1,
.expl-2 {
    opacity: 0;
}

.expl-1.active,
.expl-2.active {
    opacity: 100%;
}

/* Hamburger graphic and transition animation, from a tutorial by YouTube user codefoxx, link in readme */

.hamburger {
    display: block;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #d0d0d0;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Background image */

#background {
    background: url('../images/bk01-grassland-city.webp') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

/* Central interactive area  */

h1,
h2,
h3 {
    font-family: 'Fondamento', 'Goudy Old Style', serif;
    text-align: left;
}

#game-box {
    height: 90vh;
    width: 800px;
    max-width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#story,
.choice {
    padding: 20px 24px;
}

.choice {
    cursor: pointer;
}

/* Highlight story choice on hover  */

.choice:hover {
    background-color: #3d3d3d;
}

/* Stick restart button at the bottom of the game area*/

.restart {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#restart-btn {
    display: block;
    width: 100%;
    background-color: #3d3d3d;
    padding: 20px;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
}

#restart-btn:hover {
    background-color: #d0d0d0;
    color: #222222;
}

/* Grid display for portraits  */

#portrait-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3% 3%;
    grid-auto-flow: row;
    grid-template-areas:
        "f-01 f-02 m-05 m-06"
        "f-05 f-06 m-01 m-02"
        "m-03 m-04 f-03 f-04";
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Responsive styling for portraits  */

@media screen and (max-width: 768px) {
    #portrait-box {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "f-01 f-02 m-05"
            "m-06 f-05 f-06"
            "m-01 m-02 m-03"
            "m-04 f-03 f-04";
    }

}

/* Decrease font size to fit text on medium screens */

@media screen and (max-width: 700px) {

    #story,
    .choice,
    .menu-item,
    .menu-list,
    #logo-bar {
        font-size: 18px;
    }
}

/* Decrease font size again to fit text on smaller screens */

@media screen and (max-width: 600px) {

    #story,
    .choice,
    .menu-item,
    .menu-list,
    #logo-bar {
        font-size: 16px;
    }
}

/* Responsive styling for small screens */

@media screen and (max-width: 400px) {

    #restart-btn,
    #story,
    .choice,
    .menu-item,
    .menu-list,
    #logo-bar {
        padding: 3% 8%;
    }

    .menu-item,
    .menu-item * {
        margin: 0;
        padding: 0;
        border: 0;
    }
}


/* Responsive styling for smallest screens */

@media screen and (max-width: 320px) {

    #restart-btn,
    #story,
    .choice,
    .menu-item,
    .menu-list,
    #logo-bar {
        padding: 2.5% 8%;
        top: 50px;
        font-size: 14px;
    }
}

/* Landscape styling for small screens */

@media only screen and (orientation: landscape) and (max-height: 550px) {

    #restart-btn,
    #story,
    .choice,
    .menu-item,
    .menu-list,
    #logo-bar {
        top: 50px;
        font-size: 14px;
    }
}

@media only screen and (orientation: landscape) and (max-height: 480px) {

    #restart-btn,
    #story,
    .choice,
    .menu-item,
    .menu-list,
    #logo-bar {
        padding: 2% 3%;
        top: 50px;
        font-size: 14px;
    }
}

@media only screen and (orientation: landscape) and (max-height: 390px) {

    #restart-btn,
    #story,
    .choice,
    .menu-item,
    .menu-list,
    #logo-bar {
        padding: 1% 3%;
        top: 30px;
        font-size: 14px;
    }
}

@media only screen and (orientation: landscape) and (max-height: 350px) {

    #restart-btn,
    #story,
    .choice,
    .menu-item,
    .menu-list,
    #logo-bar {
        padding: 1% 3%;
        top: 20px;
        font-size: 13px;
    }
}

@media only screen and (orientation: landscape) and (max-height: 299px) {

    #restart-btn,
    #story,
    .choice,
    .menu-item,
    .menu-list,
    #logo-bar {
        padding: 0.7% 3%;
        top: 0;
        font-size: 12px;
    }
}